<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855430775722-leedkb29ljeu3rss1mkemtq4rh7pne2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855430775722-leedkb29ljeu3rss1mkemtq4rh7pne2n</string>
	<key>API_KEY</key>
	<string>AIzaSyBVkTcbYGQIibvQULM6AKFzDjbafszehHE</string>
	<key>GCM_SENDER_ID</key>
	<string>855430775722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wokr4ututor</string>
	<key>PROJECT_ID</key>
	<string>workforyou-7c3b7</string>
	<key>STORAGE_BUCKET</key>
	<string>workforyou-7c3b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855430775722:ios:89b12257ef412c905ae1d3</string>
</dict>
</plist>